
@{
    ViewBag.Title = "Ping/Trace";
}

<h2>Ping/Trace</h2>
<h3>Ping and Trace, inspired from command prompts, but for your applications</h3>

<ul>
    <li>Ping: @Html.ActionLink("Ping","Ping")</li>
    <li>Traces: Fetch a list of known @Html.ActionLink("Traces","Traces")</li>
    <li>Trace: <ul>
        <li>WebSite (no param) @Html.ActionLink(linkText:"Trace",actionName: "Trace")</li>
        <li>WebSite (with param) @Html.ActionLink(linkText: "Trace", actionName: "Trace", routeValues: new { destination = "WebApplication1" })</li>
        <li>WebSite -> WebService @Html.ActionLink(linkText: "Trace", actionName: "Trace", routeValues: new { destination = "WebService1" })</li>
        <li>WebSite -> WebService -> Database1 @Html.ActionLink(linkText: "Trace", actionName: "Trace", routeValues: new { destination = "Database1" })</li>
        </ul></li>
</ul>

